name: loadbalancer
clusterService: true
namespace: loadbalancer
description: MetalLB loadbalancer.

project:
  name: loadbalancer
  server: https://kubernetes.default.svc
  sourceRepos:
    - '*'

apps:
  - name: loadbalancer
    source:
      repoURL: "https://github.com/distributed-technologies/services-loadbalancer.git"
      targetRevision: HEAD
      path: chart
      valuesFile: "loadbalancer.yaml"
