nidhogg: 
  yggdrasil:
    repoURL: "https://github.com/Open-Dataplatform/infra-yggdrasil.git"
    targetRevision: "main"
    containerRegistryUrl: serviceacrpoc.azurecr.io
    ingress:
      hosts:
      - host: service-poc.westeurope.cloudapp.azure.com #This is what argocd will run on
        loadBalancerIP: 20.82.41.255
        name: ""
      - host: service-vault-poc.westeurope.cloudapp.azure.com
        loadBalancerIP: 20.82.41.148
        name: "-vault"
      LoadBalancerResoureGroup: service-aks-poc
      certmanagerissuer: letsencrypt-staging

  installCNI: false

  argo-cd:
    controller: 
      replicas: 3
      env:
        - name: "ARGOCD_CONTROLLER_REPLICAS"
          value: "3"
      enableStatefulSet: true
    redis-ha: 
      enabled: true
    redis:
      enabled: false
    server:   
      replicas: 3
      extraArgs:
      - --insecure
      - --rootpath
      - /argocd
      config:
        url: https://service-poc.westeurope.cloudapp.azure.com/argocd
        repositories: |
          - type: helm
            url: https://argoproj.github.io/argo-helm
            name: argoproj
          - type: helm
            url: https://distributed-technologies.github.io/helm-repository/
            name: dt-helmrepo
          - type: helm
            url: https://kubernetes.github.io/kube-state-metrics
            name: metrics
          - type: helm
            url: https://prometheus-community.github.io/helm-charts
            name: node-exporter
          - type: helm
            url: https://grafana.github.io/helm-charts
            name: grafana
          - type: helm
            url: https://charts.external-secrets.io
            name: external-secrets
        resource.customizations: |
          admissionregistration.k8s.io/MutatingWebhookConfiguration:
            ignoreDifferences: |
              jsonPointers:
              - /webhooks/0/clientConfig/caBundle
          admissionregistration.k8s.io/ValidatingWebhookConfiguration:
            ignoreDifferences: |
              jsonPointers:
              - /webhooks/0/clientConfig/caBundle
              - /webhooks/0/namespaceSelector/matchExpressions/2
          apiextensions.k8s.io/CustomResourceDefinition:
            ignoreDifferences: |
              jsonPointers:
              - /spec/preserveUnknownFields
          networking.k8s.io/Ingress:
            health.lua: |
              hs = {}
              hs.status = "Healthy"
              return hs
          jaegertracing.io/Jaeger:
            health.lua: |
              hs = {}
              hs.status = "Healthy"
              return hs

    configs:
      secret:
        # This is not a secret password. It is okay to be on github
        argocdServerAdminPassword: $2y$12$m4KC7G9d8NFxInl7GRpQ1OpPPrF43Msa33ZQjj0YmT6f8uwjHW8AO
        argocdServerAdminPasswordMtime: "2021-01-02T15:04:05Z"
